<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <LINK rel="Bookmark" href="/favicon.ico">
    <LINK rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/hui/lib/html5.js}"></script>
    <script type="text/javascript" th:src="@{/hui/lib/respond.min.js}"></script>
    <script type="text/javascript" th:src="@{/hui/lib/PIE_IE678.js}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/hui/lib/Hui-iconfont/1.0.7/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/hui/lib/icheck/icheck.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui.admin/skin/orange/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui.admin/css/style.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <script type="text/javascript" th:src="@{/hui/lib/jquery/1.9.1/jquery.min.js}"></script>

    <title>用户列表</title>
    <style>
        .page {
            text-align: center;
            margin-top: 15px;
        }

        .page a {
            padding-right: 10px;
            padding-left: 10px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 22px;
            margin: 0 2px 0 2px
        }

        .page strong {
            padding-right: 10px;
            padding-left: 10px;
            border: 1px solid #ccc;
            background: #5a98de;
            color: #fff;
            font-size: 22px;
            margin: 0 2px 0 2px
        }
    </style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户列表<a
        class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
        href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form th:action="@{/User/index}" method="get">
            <input type="text" name="nickName" placeholder="昵称" style="width:250px" class="input-text"
                   value="">
            <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
        </form>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width='40'>Id</th>
                <th width='100'>昵称</th>
                <th width="80">头像</th>
                <th width='80'>创建时间</th>
            </tr>
            </thead>
            <tbody>

            <tr class="text-c" th:each="user:${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.nickName}"></td>
                <td><img style="width:50px;" th:src="@{${user.avatar}}"></td>
                <td th:text="${user.addTime}"></td>
            </tr>
            </tbody>
        </table>
        <div class="page">
            <!--分页<?php echo $pages; ?>-->
        </div>

</div>

<script type="text/javascript">
    /**
     * 添加
     */
    function article_add(title, url, w, h) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /**
     * 编辑
     */
    function edit(title, url, id, w, h) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /**
     * 冻结账户
     */
    function freeze(url, id) {
        layer.confirm('确认要冻结吗？', function (index) {
            window.location.href = url;
        });
    }
</script>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/hui/lib/layer/2.1/layer.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/icheck/jquery.icheck.min.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/messages_zh.min.js}"></script>
<script type="text/javascript" th:src="@{/hui/static/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/hui/static/h-ui.admin/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<!--/_footer /作为公共模版分离出去-->
