<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/hui/lib/html5.js}"></script>
    <script type="text/javascript" th:src="@{/hui/lib/respond.min.js}"></script>
    <script type="text/javascript" th:src="@{/hui/lib/PIE_IE678.js}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/hui/lib/Hui-iconfont/1.0.7/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/hui/lib/icheck/icheck.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui.admin/skin/orange/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/hui/static/h-ui.admin/css/style.css}" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <script type="text/javascript" th:src="@{/hui/lib/jquery/1.9.1/jquery.min.js}"></script>
    <link th:href="@{/hui/lib/webuploader/0.1.5/webuploader.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="page-container">
    <form th:action="@{/admin/Article/save_ArticleEdit}" method="post" class="form form-horizontal" id="form-article-add"
          enctype="multipart/form-data">
        <input type='hidden' th:value="${article.id}" name='id'/>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="title"
                       th:value="${article.title}" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">作者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="author"
                       th:value="${article.author}" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">嵌入商品ID：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name="goods"
                       th:value="${article.goods}" required>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img th:src="@{${'https://aicha.net.cn/'+article.img}}" style="width: 400px;height: 300px; padding-top: 10px">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图文封面图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="btn-upload form-group">
                <input class="input-text upload-url" type="text" name="video_img_url" id="uploadfile-2" readonly datatype="*" nullmsg="请添加logo！"
                       style="width:200px" value=""/>
                <a href="javascript:void();" class="btn btn-primary upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                <input type="file" name="file" class="input-file" multiple/>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图文类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				  <select class="select" size="1" name="type">
				    <option value="1" th:selected="${article.type == 1}">祛痘</option>
				    <option value="2" th:selected="${article.type == 2}">痘印</option>
                      <option value="3" th:selected="${article.type == 3}">痘痕</option>
				    <option value="4" th:selected="${article.type == 4}">痘坑</option>
				    <option value="5" th:selected="${article.type == 5}">色斑</option>
                      <option value="6" th:selected="${article.type == 6}">祛皱</option>
				    <option value="7" th:selected="${article.type == 7}">美甲</option>
				    <option value="8" th:selected="${article.type == 8}">美眉</option>
                      <option value="9" th:selected="${article.type == 9}">瘦身</option>
				    <option value="10" th:selected="${article.type == 10}">美臀</option>
				    <option value="11" th:selected="${article.type == 11}">美白</option>
                      <option value="12" th:selected="${article.type == 12}">亮肤</option>
				    <option value="13" th:selected="${article.type == 13}">美腿</option>
				    <option value="14" th:selected="${article.type == 14}">美睫</option>
				  </select>
				</span>
            </div>
        </div>



        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图文内容</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="editor" name='content' type="text/plain" style="width:100%;height:400px;" th:utext="${article.content}"></script>
                </div>
                </div>

                <div class="row cl" th:if="${article.type == 1}">
                    <label class="form-label col-xs-4 col-sm-2">标题：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" name="zw"
                th:value="${article.zw}" required>
                </div>
                </div>


                <div class="row cl" th:if="${article.type == 1}">
                    <label class="form-label col-xs-4 col-sm-2">内容</label>
                    <div class="formControls col-xs-8 col-sm-9">
                    <script id="editors" name='zws' type="text/plain" style="width:100%;height:400px;" th:utext="${article.zws}"></script>
            </div>
        </div>


                <div class="row cl" ><div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont" >&#xe632;</i>保存</button>
                <button onclick="layer_close();" class="btn btn-default radius"type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
                </div>
                </form>
                </div>


                <script type="text/javascript" th:src="@{/hui/lib/webuploader/0.1.5/webuploader.min.js}"></script>
                <script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/ueditor.config.js}"></script>
                <script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/ueditor.all.min.js}"></script>
                <script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js}"></script>

                <!--_footer 作为公共模版分离出去-->
                <script type="text/javascript" th:src="@{/hui/lib/layer/2.1/layer.js}"></script>
                <script type="text/javascript" th:src="@{/hui/lib/icheck/jquery.icheck.min.js}"></script>
                <script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/jquery.validate.min.js}"></script>
                <script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
                <script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/messages_zh.min.js}"></script>
                <script type="text/javascript" th:src="@{/hui/static/h-ui/js/H-ui.js}"></script>
                <script type="text/javascript" th:src="@{/hui/static/h-ui.admin/js/H-ui.admin.js}"></script>
                <!--/_footer /作为公共模版分离出去-->

                <script>
                    var ue = UE.getEditor('editor');
                    var ues = UE.getEditor('editors');
                    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
                    UE.Editor.prototype.getActionUrl = function(action) {
                        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                            return 'https://aicha.net.cn/ly/admin/upload'; //在这里返回我们实际的上传图片地址
                        } else {
                            return this._bkGetActionUrl.call(this, action);
                        }
                    }


                    $(function () {
                        var tag = "<?php echo $this->input->get('tag') ?>";
                        if (tag == 1) {
                            window.parent.location.reload();
                        }
                    });

                    $(function () {
                        var ue = UE.getEditor('editor');
                    });
                </script>
</body>
</html>
